SmevDemo/Client/Service References/SmevServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smev.gosuslugi.ru/rev120315" elementFormDefault="qualified" targetNamespace="http://smev.gosuslugi.ru/rev120315" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SmevServiceDemo/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="SmevSampleRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="Message" nillable="true" type="q1:MessageType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="MessageData" nillable="true" type="q2:MessageDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmevSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="Message" nillable="true" type="q3:MessageType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="MessageData" nillable="true" type="q4:MessageDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>